In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df0 = pd.read_csv("../NBA_csv/atlanta.csv")
df1 = pd.read_csv("../NBA_csv/boston.csv")
df2 = pd.read_csv("../NBA_csv/brooklin.csv")
df3 = pd.read_csv("../NBA_csv/bucks.csv")
df4 = pd.read_csv("../NBA_csv/cavaliers.csv")
df5 = pd.read_csv("../NBA_csv/chicago.csv")
df6 = pd.read_csv("../NBA_csv/clippers.csv")
df7 = pd.read_csv("../NBA_csv/dallas.csv")
df8 = pd.read_csv("../NBA_csv/denverNuggets.csv")
df9 = pd.read_csv("../NBA_csv/goldenState.csv")
df10 = pd.read_csv("../NBA_csv/hornets.csv")
df11 = pd.read_csv("../NBA_csv/houston.csv")
df12 = pd.read_csv("../NBA_csv/kniks.csv")
df13 = pd.read_csv("../NBA_csv/lakers.csv")
df14 = pd.read_csv("../NBA_csv/memphis.csv")
df15 = pd.read_csv("../NBA_csv/miami.csv")
df16 = pd.read_csv("../NBA_csv/minnesota.csv")
df17 = pd.read_csv("../NBA_csv/Oklahoma.csv")
df18 = pd.read_csv("../NBA_csv/orlando.csv")
df19 = pd.read_csv("../NBA_csv/pacers.csv")
df20 = pd.read_csv("../NBA_csv/pelicans.csv")
df21 = pd.read_csv("../NBA_csv/phoenix.csv")
df22 = pd.read_csv("../NBA_csv/pistons.csv")
df23 = pd.read_csv("../NBA_csv/portland.csv")
df24 = pd.read_csv("../NBA_csv/sacramento.csv")
df25 = pd.read_csv("../NBA_csv/sixers.csv")
df26 = pd.read_csv("../NBA_csv/spurs.csv")
df27 = pd.read_csv("../NBA_csv/raptors.csv")
df28 = pd.read_csv("../NBA_csv/uta.csv")
df29 = pd.read_csv("../NBA_csv/washington.csv")

In [3]:
salario = pd.concat([df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16,
                     df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29], ignore_index = True)

In [4]:
salario = salario.drop(columns = "tds3", axis = 1)

In [5]:
salario = salario.dropna()

In [6]:
salario.isna().sum()

Jugador    0
Salario    0
dtype: int64

In [12]:

duplicates = salario[salario["Jugador"].duplicated()]

# Muestra los jugadores duplicados
print("Jugadores duplicados:")
duplicates.count()

Jugadores duplicados:

Jugador    0
Salario    0
dtype: int64

In [8]:
# Con este codigo he ido filtrando los jugadores duplicados, pero claro fijandome en el sueldo actual o si ya no esta en la liga.

#filtro = salario[salario["Jugador"]==" "]

#filtro

In [9]:
# pase los indices que queria eliminar para borrar duplicados a este bucle y asi eliminar todos los jugadores que ya no estan,
# o han cambiado de equipo y reducido o aumentado su masa salarial.

indices_drop = [249, 274, 351, 282, 388, 231, 44, 452, 459, 150, 191, 297,
                      534, 542, 547, 550, 558, 567, 288, 605, 612, 248, 617, 323]

for indice in indices_drop:
    salario.drop(indice, inplace=True)

In [21]:
# reemplazamos la columna de salario para poder pasarlo a numerico.

salario.Salario = salario.Salario.str.replace("$", "").str.replace(".","")

salario.Salario = salario.Salario.astype(int)

In [29]:
# Pasamos a csv la dataframe limpia.

salario.to_csv("Salario23_24.csv", index = False)