In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from bs4 import Comment

In [2]:
URL_boston = "https://www.basketball-reference.com/teams/BOS/2020.html"
request = requests.get(URL_boston)
html = request.text
soup = bs(html, "html.parser")

In [3]:
div = soup.find("div",{"id":"all_salaries2"})

In [4]:
def scrap(comentarios):
    dictio={}
    
    for comentario in comentarios:
        
        comentario_soup = bs(comentario, 'html.parser')
        celdas = comentario_soup.find_all('td')
    
    for i in range(0, len(celdas), 2):
        clave = celdas[i].text
        valor = celdas[i + 1].text
        dictio[clave]= valor
    return dictio

In [5]:
comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
boston = scrap(comentarios)
boston = pd.DataFrame(list(boston.items()), columns=['Jugador', 'Salario'])

In [6]:
boston

               Jugador      Salario
0         Kemba Walker  $32,742,000
1       Gordon Hayward  $32,700,690
2         Marcus Smart  $11,768,879
3         Jayson Tatum   $7,830,000
4         Jaylen Brown   $6,534,829
5         Daniel Theis   $5,000,000
6         Enes Freedom   $4,767,000
7       Romeo Langford   $3,458,400
8      Vincent Poirier   $2,505,793
9       Grant Williams   $2,379,840
10     Robert Williams   $1,937,520
11        Semi Ojeleye   $1,618,520
12      Brad Wanamaker   $1,355,341
13      Carsen Edwards   $1,228,026
14  Guerschon Yabusele   $1,039,080
15       Javonte Green     $898,310
16           Max Strus     $415,414
17   Demetrius Jackson      $92,857
18      Tremont Waters           $0
19          Tacko Fall           $0

In [7]:
URL_phi = "https://www.basketball-reference.com/teams/PHI/2020.html"
request = requests.get(URL_phi)
phi = request.text
soup = bs(phi, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

In [8]:
comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
sixers = scrap(comentarios)
sixers = pd.DataFrame(list(sixers.items()), columns=['Jugador', 'Salario'])

In [9]:
URL_KNICKS = "https://www.basketball-reference.com/teams/NYK/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

In [10]:
comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
knicks = scrap(comentarios)
knicks = pd.DataFrame(list(knicks.items()), columns=['Jugador', 'Salario'])

In [11]:
URL_KNICKS = "https://www.basketball-reference.com/teams/MIL/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

In [12]:
comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
bucks = scrap(comentarios)
bucks = pd.DataFrame(list(bucks.items()), columns=['Jugador', 'Salario'])

In [13]:
URL_KNICKS = "https://www.basketball-reference.com/teams/CLE/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
cavaliers = scrap(comentarios)
cavaliers = pd.DataFrame(list(cavaliers.items()), columns=['Jugador', 'Salario'])

In [14]:
URL_KNICKS = "https://www.basketball-reference.com/teams/BRK/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
brooklyn = scrap(comentarios)
brooklyn = pd.DataFrame(list(brooklyn.items()), columns=['Jugador', 'Salario'])

In [15]:
URL_KNICKS = "https://www.basketball-reference.com/teams/MIA/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
miami = scrap(comentarios)
miami = pd.DataFrame(list(miami.items()), columns=['Jugador', 'Salario'])

In [16]:
URL_KNICKS = "https://www.basketball-reference.com/teams/ATL/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
atlanta = scrap(comentarios)
atlanta = pd.DataFrame(list(atlanta.items()), columns=['Jugador', 'Salario'])

In [17]:
URL_KNICKS = "https://www.basketball-reference.com/teams/TOR/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
toronto = scrap(comentarios)
toronto = pd.DataFrame(list(toronto.items()), columns=['Jugador', 'Salario'])

In [18]:
URL_KNICKS = "https://www.basketball-reference.com/teams/CHI/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
bulls = scrap(comentarios)
bulls = pd.DataFrame(list(bulls.items()), columns=['Jugador', 'Salario'])

In [19]:
URL_KNICKS = "https://www.basketball-reference.com/teams/IND/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
pacers = scrap(comentarios)
pacers = pd.DataFrame(list(pacers.items()), columns=['Jugador', 'Salario'])

In [20]:
URL_KNICKS = "https://www.basketball-reference.com/teams/WAS/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
wizards = scrap(comentarios)
wizards = pd.DataFrame(list(wizards.items()), columns=['Jugador', 'Salario'])

In [21]:
URL_KNICKS = "https://www.basketball-reference.com/teams/ORL/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
magic = scrap(comentarios)
magic = pd.DataFrame(list(magic.items()), columns=['Jugador', 'Salario'])

In [22]:
URL_KNICKS = "https://www.basketball-reference.com/teams/CHO/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
hornets = scrap(comentarios)
hornets = pd.DataFrame(list(hornets.items()), columns=['Jugador', 'Salario'])

In [23]:
URL_KNICKS = "https://www.basketball-reference.com/teams/DET/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
pistons = scrap(comentarios)
pistons = pd.DataFrame(list(pistons.items()), columns=['Jugador', 'Salario'])

In [24]:
URL_KNICKS = "https://www.basketball-reference.com/teams/DEN/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
nuggets = scrap(comentarios)
nuggets = pd.DataFrame(list(nuggets.items()), columns=['Jugador', 'Salario'])

In [25]:
URL_KNICKS = "https://www.basketball-reference.com/teams/MEM/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
memphis = scrap(comentarios)
memphis = pd.DataFrame(list(memphis.items()), columns=['Jugador', 'Salario'])

In [26]:
URL_KNICKS = "https://www.basketball-reference.com/teams/SAC/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
kings = scrap(comentarios)
kings = pd.DataFrame(list(kings.items()), columns=['Jugador', 'Salario'])

In [27]:
URL_KNICKS = "https://www.basketball-reference.com/teams/PHO/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
suns = scrap(comentarios)
suns = pd.DataFrame(list(suns.items()), columns=['Jugador', 'Salario'])

In [28]:
URL_KNICKS = "https://www.basketball-reference.com/teams/LAC/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
clippers = scrap(comentarios)
clippers =  pd.DataFrame(list(clippers.items()), columns=['Jugador', 'Salario'])

In [29]:
URL_KNICKS = "https://www.basketball-reference.com/teams/GSW/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
golden = scrap(comentarios)
golden =  pd.DataFrame(list(golden.items()), columns=['Jugador', 'Salario'])

In [30]:
URL_KNICKS = "https://www.basketball-reference.com/teams/LAL/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
lakers = scrap(comentarios)
lakers =  pd.DataFrame(list(lakers.items()), columns=['Jugador', 'Salario'])

In [31]:
URL_KNICKS = "https://www.basketball-reference.com/teams/MIN/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
wolves = scrap(comentarios)
wolves =  pd.DataFrame(list(wolves.items()), columns=['Jugador', 'Salario'])

In [32]:
URL_KNICKS = "https://www.basketball-reference.com/teams/NOP/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
pelicans = scrap(comentarios)
pelicans =  pd.DataFrame(list(pelicans.items()), columns=['Jugador', 'Salario'])

In [33]:
URL_KNICKS = "https://www.basketball-reference.com/teams/OKC/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
thunder = scrap(comentarios)
thunder =  pd.DataFrame(list(thunder.items()), columns=['Jugador', 'Salario'])

In [34]:
URL_KNICKS = "https://www.basketball-reference.com/teams/DAL/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
dallas = scrap(comentarios)
dallas =  pd.DataFrame(list(dallas.items()), columns=['Jugador', 'Salario'])

In [35]:
URL_KNICKS = "https://www.basketball-reference.com/teams/UTA/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
uta = scrap(comentarios)
uta =  pd.DataFrame(list(uta.items()), columns=['Jugador', 'Salario'])

In [36]:
URL_KNICKS = "https://www.basketball-reference.com/teams/POR/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
portland = scrap(comentarios)
portland =  pd.DataFrame(list(portland.items()), columns=['Jugador', 'Salario'])

In [37]:
URL_KNICKS = "https://www.basketball-reference.com/teams/HOU/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
rockets = scrap(comentarios)

In [38]:
rockets['John Wall']="$40,866,760"
rockets= pd.DataFrame(list(rockets.items()), columns=['Jugador', 'Salario'])

In [39]:
URL_KNICKS = "https://www.basketball-reference.com/teams/SAS/2020.html"
request = requests.get(URL_KNICKS)
kni = request.text
soup = bs(kni, "html.parser")
div = soup.find("div",{"id":"all_salaries2"})

comentarios = div.find_all(string=lambda text: isinstance(text, Comment))
spurs = scrap(comentarios)
spurs = pd.DataFrame(list(spurs.items()), columns=['Jugador', 'Salario'])
spurs

                   Jugador      Salario
0            DeMar DeRozan  $27,739,975
1        LaMarcus Aldridge  $26,000,000
2                 Rudy Gay  $14,000,000
3              Patty Mills  $12,428,571
4          DeMarre Carroll   $6,842,307
5          Marco Belinelli   $5,846,154
6               Trey Lyles   $5,500,000
7                Pau Gasol   $5,074,856
8             Jakob Poeltl   $3,754,886
9              Bryn Forbes   $2,875,000
10           Lonnie Walker   $2,760,480
11            Luka Šamanić   $2,689,920
12         Dejounte Murray   $2,321,735
13          Keldon Johnson   $1,950,600
14           Derrick White   $1,948,080
15           Chimezie Metu   $1,416,852
16            Tyler Zeller     $245,686
17            Drew Eubanks           $0
18  Quinndary Weatherspoon           $0

In [40]:
equipos = [spurs, rockets, portland, uta, dallas, pelicans, thunder, wolves, lakers, golden, clippers, suns, kings, memphis, nuggets,
      pistons, hornets, magic, wizards, pacers, bulls, toronto, atlanta, miami, brooklyn, cavaliers, bucks, knicks, sixers,
      boston]
"""equipos = pd.concat(spurs, rockets, portland, uta, dallas, pelicans, thunder, wolves, lakers, golden, clippers, suns, kings, memphis, nuggets,
      pistons, hornets, magic, wizards, pacers, bulls, toronto, atlanta, miami, brooklyn, cavaliers, bucks, knicks, sixers,
      boston)"""

'equipos = pd.concat(spurs, rockets, portland, uta, dallas, pelicans, thunder, wolves, lakers, golden, clippers, suns, kings, memphis, nuggets,\n      pistons, hornets, magic, wizards, pacers, bulls, toronto, atlanta, miami, brooklyn, cavaliers, bucks, knicks, sixers,\n      boston)'

In [41]:
equipos = pd.concat(equipos, ignore_index=True)

In [42]:
equipos

               Jugador      Salario
0        DeMar DeRozan  $27,739,975
1    LaMarcus Aldridge  $26,000,000
2             Rudy Gay  $14,000,000
3          Patty Mills  $12,428,571
4      DeMarre Carroll   $6,842,307
..                 ...          ...
611      Javonte Green     $898,310
612          Max Strus     $415,414
613  Demetrius Jackson      $92,857
614     Tremont Waters           $0
615         Tacko Fall           $0

[616 rows x 2 columns]

In [43]:
import numpy as np
equipos.replace('', np.nan, inplace=True)

equipos.dropna(inplace = True)

In [44]:
equipos.Salario = equipos.Salario.str.replace("$","").str.replace(",","")

In [45]:
equipos.Salario = equipos.Salario.astype(int)

In [46]:
equipos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 615 entries, 0 to 615
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Jugador  615 non-null    object
 1   Salario  615 non-null    int32
dtypes: int32(1), object(1)
memory usage: 12.0+ KB

In [47]:
equipos.to_csv("salario19_20.csv", index = False)